-# coding:utf-8
:markdown
 ## 概要
   * 自分のことずっと「考えすぎ」だと思ってたけど、考えすぎってよりは「連想しすぎ」っていう気もしてきた。「何を見ても何か思い出す」。いろいろ思い出して頭がゴチャゴチャになる。 (<https://twitter.com/#!/tily/status/558252822>)
   * ユーザが似ている 2 つのものを投稿して、他のユーザが like / unlike (「いいね！／取り消し」ではなく「似ている／似ていない」) するウェブサービスほしい (<https://twitter.com/#!/tily/status/133892202484084738>)

 ## 要望
   * ダメなところとかこうしてほしいとかは [@tily](http://twitter.com/tily) までお願いします
   * プログラムを書ける人は github での pull request も歓迎しています

 ## TODO
   * スライドショーモード
   * n-gram や編集距離による類似度の表示

 ## 感謝
   * Ernest Hemingway for "Everything Reminds Me of Something" (小説のタイトルを使わせていただきました)
   * mala for <http://la.ma.la/misc/js/takahashi_oop.html> (コードを参考というか結構そのまま使わせていただきました)
   * youpy for <http://unsearchablize.jgate.de> (タイトルに同じアルゴリズムを使わせていただきました)
   * ucnv for <http://unsearchablize2.jgate.de> (タイトルに同じアルゴリズムを使わせていただきました)
   * koyachi for <http://urlist.buffr.org> (シンプルなデザインを参考にしました)
   * alpicola for <http://cxtfr.org> (シンプルなデザインを参考にしました)
   * saeko for <http://pho.tumblr.com> (青を基調にしたデザインを参考にしました)

