-#coding:utf-8
- @pairs.each do |pair|
  -@pair = pair
  !=haml :_pair, :layout => false
!=haml :_paginate, :layout => false
:javascript
  $('.thing').each(function() { format($(this), $(this).text()) });
